.home-message {
  padding-left: 300px;
  display: flex;
}

.home-footer {
  padding-right: 300px;
  display: flex;
  justify-content: flex-end;
  padding-top: 100px;
  padding-bottom: 100px;
}

.home-message__text, .home-footer__text {
  width: 600px;
  font-size: 1.7rem;
}


.home-qr-section {
  padding-top: 100px;
  padding-left: 25px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-analytics-section {
  padding-top: 100px;
  padding-right: 25px;
  padding-left: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-qr-section__img {
  width: 450px;
  height: 450px;
  padding-right: 100px;
}

.home-analytics-section__img {
  width: 450px;
  height: auto;
  margin-left: 100px;
  border: 1px solid #000;
}

.home-qr-section__text, .home-analytics-section__text {
  font-size: 1.7rem;
  max-width: 700px;
  display: inline;
}

.home-register {
  text-decoration: underline;
}

@media (max-width: 1336px) {
  .home-message {
    padding-left: 0px;
    justify-content: center;
    text-align: center;
  }
  .home-qr-section {
    padding-right: 0;
    padding-top: 50px;
  }
  .home-qr-section__img {
    width: 300px;
    height: 300px;
    padding-right: 20px;
  }
  .home-analytics-section {
    padding-left: 0;
    padding-top: 50px;
    padding-left: 75px;
  }
  .home-analytics-section__img {
    width: 300px;
    margin-left: 0;
    margin-left: 20px;
  }
  .home-footer {
    display: flex;
    justify-content: center;
    padding-right: 0;
    text-align: center;
    margin-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .home-message {
    margin-left: 20px;
  }
  
  .home-qr-section, .home-analytics-section {
    align-items: center;
    text-align: center;
    padding-top: 0;
  }
  .home-qr-section {
    flex-direction: column;
  }
  .home-analytics-section {
    padding-right: 0;
    padding-left: 20px;
    flex-direction: column-reverse;
  }
}