.navbar-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 40px;
}

.navbar-list__brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-list__brand__heading {
  margin: 0;
  padding-right: 20px;
}

.navbar-list__brand__slogan  {
  margin: 0;
}

.navbar-list__links {
  display: flex;
  flex-direction: column;
  height: 50px;
}

.navbar-list__links--login {
  justify-content: space-between;
}

.navbar-list__links--logout {
  justify-content: space-around;
}