.login-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.login {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.login__heading {
  align-self: center;
}

.login__input {
  margin: 10px 0 10px 0;
  border: 1px solid #000;
}

.login__submit {
  margin-top: 20px;
  border: 1px solid #000;
  height: 30px;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
}